@{
    Layout = "_Layout_3";
}

@using AppCore.DtoModels.Auction;

@model List<DetailedAuctionDto>


<div class="wrapper">
    <!-- Navbar -->
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">جدول مزایده ها</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right" placeholder="جستجو">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <tr>
                                        <th>شماره</th>
                                        <th>تاریخ شروع مزایده</th>
                                        <th>تاریخ پایان مزایده</th>
                                        <th>برنده مزایده</th>
                                        <th>قیمت نهایی</th>
                                        <th>فروشنده</th>
                                        <th>مشاهده نظرات و کارمزد </th>
                                        <th>محصولات</th>

                                    </tr>
                                    @foreach (var auction in Model)
                                    {
                                        @if (auction.IsFinished == true)

                                        {
                                            <tr>
                                                <td>@auction.Id</td>
                                                <td>@auction.StartTime</td>
                                                <td>@auction.EndTime</td>
                                                <td>@auction.AcceptedCustomerName</td>
                                                <td>@auction.FinalPrice</td>
                                                <td>@auction.SellerName</td>
                                                <td><a type="button" class="btn btn-primary" asp-controller="Admin" asp-action="AuctionProfile" asp-route-id="@auction.Id">مشاهده جزییات</a></td>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                @foreach (var product in auction.ProductDtos)
                                                                {
                                                                    <td>@product.ProductName</td>
                                                                }
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                        }
                                    }



                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

</div>


<div class="wrapper">
    <!-- Navbar -->
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">جدول سفارشات مستقیم</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right" placeholder="جستجو">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <tr>
                                        <th>شماره</th>
                                        <th>قیمت نهایی</th>
                                        <th>فروشنده</th>
                                        <th>خریدار</th>
                                        <th>مشاهده نظرات و کارمزد </th>
                                        <th>محصولات</th>


                                    </tr>
                                    @foreach (var directOrder in @ViewBag.directOrderDtos)
                                    {
                                        @if (directOrder.IsPaid)

                                        {
                                            <tr>
                                                <td>@directOrder.Id</td>
                                                <td>@directOrder.TotalPrice</td>
                                                <td>@directOrder.SellerName</td>
                                                <td>@directOrder.CustomerName</td>
                                                <td><a type="button" class="btn btn-primary" asp-controller="Admin" asp-action="AuctionProfile" asp-route-id="@directOrder.Id">مشاهده جزییات</a></td>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                @foreach (var product in directOrder.ProductDtos)
                                                                {
                                                                    <td>@product.ProductName</td>
                                                                }
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                        }
                                    }



                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

</div>
