
@using AppCore.DtoModels.Product;


@{
    Layout = "_Layout_3";
}

@model DetailedProductDto

<div class="container m-5">
    <div class="row m-2" >
        <div class="d-flex justify-content-start">
            @if (@Model.IsDeleted != true)
            {
                <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@Model.Id">حذف کالا</a>
            }
            @if (@Model.IsActive != true && @Model.IsDeleted != true)
            {
                <a class="btn btn-danger" asp-controller="Admin" asp-action="ActiveProduct" asp-route-id="@Model.Id">تایید کالا</a>

            }
        </div>

    </div>
    <div class="row">
        <div class="card card-info justify-content-center ">
            <div class="card-header">
                <h3 class="card-title">مشخصات</h3>
            </div>
           
            <form class="card-body" method="post"  >
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">آیدی</span>
                    </div>
                    <input type="number" class="form-control" asp-for="Id" >
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">نام</span>
                    </div>
                    <input type="text" class="form-control" asp-for="ProductName" placeholder="نام ">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">نام خانوادگی</span>
                    </div>
                    <input type="text" class="form-control" asp-for="CategoryName" placeholder="نام دسته">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input  class="form-control" asp-for="Price" placeholder="قیمت">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                    </div>
                    <input type="text" class="form-control " asp-for="SellerFullName" placeholder="نام فروشنده">
                </div>
                <!-- /.row -->
                <!-- /input-group -->


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-danger" asp-controller="Admin" asp-action="ProductProfile" >ویرایش</button>
                    </div>
                    <!-- /btn-group -->

                </div>
                <!-- /input-group -->
                <!-- /input-group -->
            </form>



           
            <!-- /.card-body -->
        </div>
    </div>
</div>


