@model List<CategoryViewModel>


<h1>دسته مورد نظر خود را انتخاب کنید. </h1>



@for (int i = 0; 2 * (i + 1) <= (int)(Model.Count() / 2) * 2; i++)
{
    <div class="container">
        <div class="d-inline-flex">
            <div class="card  m-3" style="width:min-content">
                <img class="card-img-top" src="/Images/Categories/@(Model[2*i].ImageFile)" alt="@Model[2 * i].Title" style="width:200px">
                <div class="card-body">

                    <a class="btn btn-primary" asp-route-id="@(Model[2*i].Id)" asp-controller="ProductManagement" asp-action="AddProduct">
                        <h5 class="card-title text-dark">@Model[2 * i].Title</h5>
                    </a>
                </div>
            </div>
            <div class="card  m-3" style="width:min-content">
                <img class="card-img-top" src="/Images/Categories/@(Model[2*i+1].ImageFile)" alt="@Model[2 * i+1].Title" style="width:200px">
                <div class="card-body">

                    <a class="btn btn-primary" asp-route-id="@(Model[2*i+1].Id)" asp-controller="ProductManagement" asp-action="AddProduct">
                        <h5 class="card-title text-dark">@Model[2 * i+1].Title</h5>
                    </a>
                </div>
            </div>
      
        </div>
    </div>

}

<div class="container">
    <div class="d-inline-flex" >
        @for (int i = 1; i <= Model.Count()% 2; i++)
        {
            <div class="card  m-3" style="width:min-content">
                <img class="card-img-top" src="/Images/Categories/@(Model[Model.Count()-i].ImageFile)" alt="@Model[Model.Count()-i].Title" style="width:200px">
                <div class="card-body">

                    <a class="btn btn-primary" asp-route-id="@(Model[Model.Count()-i].Id)" asp-controller="ProductManagement" asp-action="AddProduct">
                        <h5 class="card-title text-dark">@Model[Model.Count() - i].Title</h5>
                    </a>
                </div>
            </div>
        }
    </div>

</div>

