@using AppCore.DtoModels.Customer;

@model FullDetailCustomerDto
<link rel="stylesheet" href="~/css/style3.css">

<div class="container bootstrap snippets bootdey">
    <div style="direction:rtl">
        <hr>
        <div class="row">
            <!-- left column -->
            <h3>اطلاعات شخصی</h3>

            <!-- edit form column -->
            <div class="col-md-12 personal-info">
                <!--<div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>-->
                @*<i class="fa fa-coffee"></i>
            This is an <strong>.alert</strong>. Use this to show important messages to the user.*@
                <!--</div>-->


                <form method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
                    <div class="col-md-3">
                        <div class="text-center">
                            <img src="~/images/UserImages/@Model.FilePathSource" class="avatar img-circle img-thumbnail" alt="avatar">
                            <label for="formFileLg" class="form-label">تغییر عکس</label>
                            <input multiple class="form-control form-control-lg" id="formFileLg" asp-for="UserFile" type="file">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-lg-8">
                            <input class="form-control" type="number" asp-for="@Model.Id" hidden>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">نام</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" asp-for="@Model.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">نام خانوادگی</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" asp-for="@Model.LastName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">ایمیل</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" asp-for="@Model.Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">شماره همراه </label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" asp-for="@Model.PhoneNumber">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">کد ملی</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" asp-for="@Model.NationalityCode">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-lg-8">
                            <button class="form-control btn " asp-controller="CustomerManagement" asp-action="Profile" type="submit"><h6>تغییر اطلاعات</h6></button>
                        </div>
                    </div>
                    @*<div class="form-group">
                    <label class="col-lg-3 control-label">Time Zone:</label>
                    <div class="col-lg-8">
                        <div class="ui-select">
                            <select id="user_time_zone" class="form-control">
                                <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                <option value="Alaska">(GMT-09:00) Alaska</option>
                                <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                                <option value="Arizona">(GMT-07:00) Arizona</option>
                                <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                                <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                                <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                                <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                            </select>
                        </div>
                    </div>
                </div>*@
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
